body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navigation */

.dropdown-menu,
.dropdown-item {
  border-radius: 0 !important;
  color: rgb(0, 0, 0) !important;
}

.main-dd {
  border-radius: 0 !important;
  color: red !important;
}

.dd-icon {
  color: #62c849ff;
}

.nav-block {
  height: 8vh;
}

.nav-link {
  color: black !important;
}

.nav-link:hover {
  color: #62c849ff !important;
}

.nav-block {
  border-top: 5px solid #62c849ff;
}

.review-btn {
  color: #fff;
  background-color: #62c849ff !important;
}

