body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navigation */

.dropdown-menu,
.dropdown-item {
  border-radius: 0 !important;
  color: rgb(0, 0, 0) !important;
}

.main-dd {
  border-radius: 0 !important;
  color: red !important;
}

.nav-block {
  background-color: #E3F2FD;
  height: 5vh;
}

.nav-link {
  color: black !important;
}

